.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  color: white;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-body {
  color: #282c34;
}

.card {
  width: 20rem;
  max-height: 500px;
}
